@import url(http://fonts.googleapis.com/css?family=Glass+Antiqua);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Lato);

h3 {
	font-family: Playfair Display SC;
}

.logo {
	position: absolute;
	left: 50px;
	top: 35px;
}

.logo img {
	max-width: 150px;
}

nav {
	font-family: Lato;
	position: absolute;
	right: 35px;
	top: 60px;
}

nav li {
	float: left;
	list-style-type: none;
}

nav a {
	color: white;
	padding: 10px 10px;
	font-size: 1.2em;
}

.hero {
	margin-top: -5px;
	height: 70%;
	color: white;
	background: 
	linear-gradient(
      rgba(0, 31, 97, 0.5),
      rgba(0, 31, 97, 0.5)
    ),url('../img/church.jpg') 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero h1 {
	font-family: Playfair Display SC;
	padding: 16% 0 0 0;
	font-size: 4.5em;
	text-align: center;
	line-height: 1em;
	color: white;
}

.hero p {
	font-family: Lato;
	font-size: 3em;
	text-align: center;
	color: white;
}

.info {
	height: 30%;
}

.times {
	color: #252527;
	text-align: center;
	margin: 0 0 0 0;
	height: 30%;
	font-family: Lato;
	line-height: 1em;
	border-style-right: dashed;
	border-right: 5px;
	border-color: black;
}

.address {
	color: #2d2d2f;
	text-align: center;
	margin: 0 0 0 0;;
	height: 30%;
	font-family: Lato;
	border-style-left: dashed;
	border-left: 5px;
	border-color: black;
}

.times h3 {
	padding-top: 35px;
	color: #252527;
}

.address h3 {
	padding-top: 35px;
	color: #252527;
}

.address a {
	color: #252527;
}

.address a:hover {
	color: #252527;
}

.about {
	font-family: Lato;
	text-align: center;
	margin: 25px auto 0 auto;
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),url('../img/greeneville.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
	color: white;
	padding-bottom: 100px;
}

.about p {
	max-width: 740px;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 25px;
}

.about h3 {
	color: white;
	padding-top: 100px;
}

.announce {
	font-family: Lato;
	max-width: 740px;
	text-align: left;
	margin: 100px auto 0 auto;
}

.announce ul {
	padding-top: 15px;
}

.announce h3 {
	text-align: center;
}

.calendar {
	height: 800px;
	text-align: center;
	margin-top: 400px;
}

.contact {
	position: relative;
	padding: 100px 0 100px 100px;
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('../img/green.jpg') 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.2em;
	color: white;
}

.contact h3 {
	color: white;
}

.contact li {
	list-style-type: none;
}

.contact span {
	font-weight: bold;
}

.contact a {
	color: white;
}

.photoCred {
	position: absolute;
	bottom: 20px;
	right: 50px;
	color: white;
	font-size: 0.7em;
}

.photoCred a {
	text-decoration: underline;
}

/*********************************************

Love.html

**********************************************/

.top {
	background-image: linear-gradient(
		rgba(0, 31, 97, 0.4), 
		rgba(0, 31, 97, 0.8)
	), url('../img/quilt.jpg');
	height: 450px; 
	background-size: cover;
	background-attachment: fixed;
	margin-top: -5px;
}

.top h1 {
	color: white;
	font-family: "Playfair Display SC";
	text-align: center;
	line-height: 450px;
	font-size: 4em;
}

.bags {
	text-align: center;
	font-family: "Lato";
	color: white;
	background-color: rgba(0, 31, 97, 0.8);
}

.bags p {
	font-size: 1.5em;
	max-width: 740px;
	padding: 100px 0;
	margin: 0 auto;
}

.gallery {
	height: 500px;
	line-height: 500px;
	text-align: center;
}

footer {
	background-color: rgba(0, 31, 97, 0.8);
	height: 300px;
	position: relative;
}

footer p,a {
	color: white;
	font-size: 1.2em;
	font-family: "Lato";
}

footer a {
	text-decoration: underline;
	margin-top: 100px;
	font-size: 1em;
}

footer p {
	margin-left: 100px;
	padding-top: 15px;
}

footer h1 {
	padding-top: 30px;
	color: white;
	font-family: "Lato";
	margin-left: 100px;
}

.facebook a {
	font-size: 1.2em;
	margin-left: 100px;
}




/*********************************************

Media Queries

**********************************************/

@media only screen and (max-width: 1000px) {
	.hero {
	margin-top: -5px;
	height: 70%;
	color: white;
	background: 
	linear-gradient(
      rgba(0, 31, 97, 0.5),
      rgba(0, 31, 97, 0.5)
    ),url('../img/church.jpg') 50% 50% no-repeat scroll;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero h1 {
	font-family: Playfair Display SC;
	padding: 25% 0 0 0;
	font-size: 4em;
	text-align: center;
	line-height: 1em;
	color: white;
}

.hero p {
	font-family: Lato;
	font-size: 2.5em;
	text-align: center;
	color: white;
}

.join {
	display: none;
}

}

@media only screen and (max-width: 650px) {
	.hero {
	margin-top: -5px;
	height: 70%;
	color: white;
	background: 
	linear-gradient(
      rgba(0, 31, 97, 0.5),
      rgba(0, 31, 97, 0.5)
    ),url('../img/church.jpg') 50% 50% no-repeat scroll;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero h1 {
	font-family: Playfair Display SC;
	padding: 30% 0 0 0;
	font-size: 2em;
	text-align: center;
	line-height: 1em;
	color: white;
}

.hero p {
	font-family: Lato;
	font-size: 1.5em;
	text-align: center;
	color: white;
}

.info {
	height: 40%;
}

.times {
	color: #252527;
	text-align: center;
	margin: 0 0 0 0;
	height: 30%;
	font-family: Lato;
	line-height: 1em;
}

.address {
	color: #2d2d2f;
	text-align: center;
	margin: 0 0 0 0;;
	height: 30%;
	font-family: Lato;
}

.times h3 {
	padding-top: 35px;
	color: #252527;
	font-size: 1em;
}

.times p {
	color: #252527;
	font-size: 0.80em;
}

.address h3 {
	padding-top: 35px;
	color: #252527;
	font-size: 1em;
}

.address a {
	color: #252527;
	font-size: 0.80em;
}

.address p {
	color: #252527;
	font-size: 0.80em;
}

.address a:hover {
	color: #252527;
}

nav a {
	font-size: 0.60em;
}

.logo img {
	max-width: 75px;
}

.join {
	display: none;
}

.contact {
	padding: 100px 0 100px 4px;
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('../img/green.jpg') 50% 50% no-repeat scroll;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 1.2em;
	color: white;
}

.about {
	font-family: Lato;
	text-align: center;
	margin: 25px auto 0 auto;
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),url('../img/greeneville.jpg') 50% 50% no-repeat scroll;
    background-size: cover;
	color: white;
	padding-bottom: 100px;
}

}

@media only screen and (max-width: 400px) {
	.hero {
	margin-top: -5px;
	height: 70%;
	color: white;
	background: 
	linear-gradient(
      rgba(0, 31, 97, 0.5),
      rgba(0, 31, 97, 0.5)
    ),url('../img/church.jpg') 50% 50% no-repeat scroll;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.join {
	display: none;
}

.hero h1 {
	font-family: Playfair Display SC;
	padding: 50% 0 0 0;
	font-size: 1em;
	text-align: center;
	line-height: 1em;
	color: white;
}

.hero p {
	font-family: Lato;
	font-size: 0.85em;
	text-align: center;
	color: white;
}

.info {
	height: 60%;
}

.times {
	color: #252527;
	text-align: center;
	margin: 0 0 0 0;
	height: 30%;
	font-family: Lato;
	line-height: 1em;
}

.address {
	color: #2d2d2f;
	text-align: center;
	margin: 0 0 0 0;;
	height: 30%;
	font-family: Lato;
}

.times h3 {
	padding-top: 35px;
	color: #252527;
	font-size: 0.85em;
}

.times p {
	color: #252527;
	font-size: 0.70em;
}

.address h3 {
	padding-top: 35px;
	color: #252527;
	font-size: 0.85em;
}

.address a {
	color: #252527;
	font-size: 0.70em;
}

.address p {
	color: #252527;
	font-size: 0.70em;
}

.address a:hover {
	color: #252527;
}

nav a {
	font-size: 0.60em;
}

.logo img {
	max-width: 60px;
}

.contact {
	padding-left: 4px;
}

.contact a {
	color: white;
}

nav {
	padding-top: 25px;
}
}